/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

*
colors used

text color (darkslategray): #2f4f4f

primary color (lightblue): #add8e6
text color (midnightblue): #191970
secondary color (lightcyan): #E0FFFF
text color (teal): #008080

*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: #F5F5F5;
  margin: 50px;
}


body {
  font-family: 'Courier Prime', monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #2f4f4f;
}

h1 {
  font-size: 34px;
  font-weight: 700;
}

h2 {
  font-size: 28px;
  font-weight: 700;
}

h3 {
  font-size: 22px;
  font-weight: 700;
}

a{
  color: #357b70;
}


a:visited {
  /* visited link */
  color: #05676e;
}

a:hover, a:focus {
  /* no underlining when hovering over a link */
  text-decoration: none;
}

a:active {
  /* selected link */
  color: #489c79;
}

%button-shared {
  border: none;
  display: inline-block;
  font-family: inherit;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }


.button {
  @extend %button-shared;
  background-color: #add8e6;
  color: #191970;
}

.button_secondary {
  @extend %button-shared;
  background-color: #E0FFFF;
  color: #008080;
}

.navigation-list {
  list-style-type: none;

    li {
      display: inline-block;
      margin-left: 15px;

      .navigation-list_item--active {
        text-decoration: none;
      }
    }
}
